<!DOCTYPE html>
<html>
<head>
	<title>Filter Page</title>
</head>
<body>
	<h1>Filter A Cafe That Matches Your Needs </h1>

	<form action="" method="">
		Number of Outlets
		<input type="text" name="outlets">
		<br>
		<input type="checkbox" name="wifi">Wifi 
		<br>
		Drinks 
		<input type="checkbox" name="caffeinated-drinks">Caffeinated Drinks <br> 
		<input type="checkbox" name="alcoholic-drinks">Alcoholic Drinks <br> 
		Food Options 
		<input type="checkbox" name="breakfast">Breakfast 
		<br>
		<input type="checkbox" name="lunch">Lunch
		<br>
		<input type="checkbox" name="dinner">Dinner 
		Food Restrictions
		<input type="checkbox" name="vegan">Vegan 
		<br>
		<input type="checkbox" name="gluten-free">Gluten Free 
		<br>
		<input type="checkbox" name="lactose-intolerant">Lactose Intolerant  
	</form>


</body>
</html>