<!DOCTYPE html>
<html>
<head>
	<title>Reviewed Cafés</title>
</head>
<body>
	<h1>Reviewed Cafés</h1>
	This will be where the reviews populate!
 

	<!-- <h1>Search for Cafés by Zip Code</h1> -->

	<h2>Not the grind you're looking for? Use the search below to locate the café you'd like to review!</h2>
	<form action="/places/search" method="POST">
		<input type="text" name="zipcode">
		<input type="submit" name="Submit">
	</form>

</body>
</html>