<!DOCTYPE html>
<html>
<head>
	<title>Reviewed Cafés</title>
</head>
<body>
	<h1>Reviewed Cafés</h1>
	<ul>
		<% for(let i =0; i < places.length; i++){%>
		<li>
			<a href="/places/show2<%=places[i]._id%>"><%=places[i].name%>
		</li>
	</ul>
 </br>
</br>


	<!-- <h1>Search for Cafés by Zip Code</h1> -->

	<a href="/places/new">Not the grind you're looking for? Click here to review a new café!</a>
<!-- 	<form action="/places/search" method="POST">
		<input type="text" name="zipcode">
		<input type="submit" name="Submit">
	</form> -->

</body>
</html>