<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h1>Results Show Page</h1>

 <% for(let i = 0; i < data.length; i++){%>
 	<li>
 		<a href="/places/<%=data[i]._id%>"></a>
</body>
</html>