<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h1>Landing page for</h1>
	<ul>
		<li><%=dataFromGoogle.name%> </li>
		<li><%=dataFromGoogle.formatted_address%></li> 
		<li><%=dataFromGoogle.opening_hours.weekday_text%></li>
	</ul>

</body>
</html>