<!DOCTYPE html>
<html>
<head>
	<title>Filter Page</title>
</head>
<body>
	<h1>Filter A Cafe That Matches Your Needs </h1>

	<form action="" method="">
		Number of Outlets
		<input type="text" name="outlets">
		<br>
		Wifi 
		<input type="checkbox" name="wifi"> 
		<br>
		Drinks 
		<input type="checkbox" name="caffeinatedDrinks">Caffeinated Drinks <br> 
		<input type="checkbox" name="alcoholicDrinks">Alcoholic Drinks <br> 
		Food Options 
		<input type="checkbox" name="breakfast">Breakfast 
		<br>
		<input type="checkbox" name="lunch">Lunch
		<br>
		<input type="checkbox" name="dinner">Dinner 
		Food Restrictions
		<input type="checkbox" name="vegan">Vegan 
		<br>
		<input type="checkbox" name="glutenFree">Gluten Free 
		<br>
		<input type="checkbox" name="lactoseIntolerant">Lactose Intolerant 
		Seating
		<input type="checkbox" name="comfortableChairs">Comfortable Chairs  
		<br>
		<input type="checkbox" name="outdoorSeating">Outdoor Seating  
		<br>
		Atmosphere
		<input type="checkbox" name="busy">Busy 
		<br>
		<input type="checkbox" name="relaxed">Relaxed
		<br>
		<input type="checkbox" name="stuffy">Stuffy
		<br>
		<input type="checkbox" name="hip">Hip
		<br>
		<input type="text" name="atmosphereDescription"> 
		<br>
		Music
		<input type="checkbox" name="soft">Soft 
		<br>
		<input type="checkbox" name="energizing">Energizing 
		<br>
		<input type="checkbox" name="intense">Intense
		<br>

		<input type="submit" value="Submit">

	</form>


</body>
</html>