<!DOCTYPE html>
<html>
<head>
</head>
<body>

	<h1> Add Review For <%=oneCafe.name%></h1>

	<form method="POST" action="/review/<%=index%>"><br/> 

		<textarea rows="5" name="review" col="50"></textarea>

		<br> 

		<input type="submit" name="cafe" value="Submit Changes" />

		</form>  

	</form>

</body>
</html>