<!DOCTYPE html>
<html>
	<head>
		<title>Add review</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
<body>

	<h1> Add Review For <%=oneCafe.name%></h1>

	<form method="POST" action="/review/<%=index%>"><br/> 

		Cafe (read-only): <br/><input name="place" value="<%=oneCafe.name%>" readonly />

		<br/>
		<br/>

		Add your review: <br/>
		<textarea rows="5" name="review" col="50"></textarea>

		<br> 

		<input type="submit" value="Submit Changes" />

		</form>  

	</form>

</body>
</html>