<!DOCTYPE html>
<html>
<head>
	<title>Search for coffee</title>
</head>
<body>

	<h1>Search for Cafés by Zip Code</h1>

	<form action="/review/search" method="POST">
		<input type="text" name="zipcode">
		<input type="submit" name="Submit">
	</form>


</body>
</html>