<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Welcome to Code Café</h1>
    </header>
    <nav>
    <a href="/user/login">Log in</a>
    <br>
    <a href="/user/new">Register</a>
  </nav>
  </body>
</html>