<!DOCTYPE html>
<html>
<head>
	<title>Regist for Code Cafe</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

	 <br/>
	 <br/>

	<h4>Register to access Code Cafe!</h4>

	<form action="/user/register" method="POST">
	  Username:<input type="text" name="username" placeholder="username"><br>
	  Password:<input type="password" name="password" placeholder="password"><br>
	  <button type="submit">Register</button>
	</form>

</body>
</html>






