<!DOCTYPE html>
<html>
<head>
	<title>Write Review for <%=dataFromGoogle.name%></title>
</head>
<body>
	<h1>Write Review for <%=dataFromGoogle.name%></h1>

	<form action="/reviews/new/:place_id" method="POST">
		<input type="text" name="review">
			<textarea rows="5" col="50">
				
			</textarea>
		<input type="Submit" name="Post">
	</form>
</body>
</html>
