<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

  <h1>Edit <%=cafeList.name%>'s Info & Review</h1>

  <form method="POST" action="/cafeList/<%=index%>?_method=PUT"><br/> 

    Name: <input type="text" name="name" value="<%=cafeList.name%>">

    <br/>

    Address: <input type="text" name="image" value="<%=cafeList.address%>">
    
    <br/>

    <textarea rows="5" name="review" col="50"></textarea>
    
    <br> 

    <input type="submit" name="cafe" value="Submit Changes" />

  </form>  

  <ul>
    <li>
      <a href="/index">Cafe List</a>
    </li>
  </ul>
  
</body>
</html>