<!DOCTYPE html>
<html>
<head>
  <title>Reviews Index</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

	<br/>
	<br/>

	<h1>Click on café to see review</h1>

	<ul class="cafes">
		<% for(let i =0; i < cafeList.length; i++) {%>

			<li>
				<a href="/cafeList/<%=i%>"> 
					<%= cafeList[i].name %> 
				</a>
			</li>
			<li>
				<%= cafeList[i].address %> 
			</li>
			<br> 
		<% } %>

	</ul>

	<br/>
		<a href="/cafeList/new">Add a Cafe & Review</a>
	<br/> 
	
</body>
</html>