<!DOCTYPE html>
<html>
<head>
	<title>Add your favorite cafe</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>Add your favorite cafe</h1>

	<form action="/cafeList" method="POST">
		Name: <input type="text" name="name"/><br/>
		<br/>
		Address <input type="text" name="address"/><br/>
		<br/>
		Why do you love it?
		<textarea rows="5" name="review" col="50"></textarea>
		<br> 
		<input type="submit" name="cafe" value="Create Cafe"/>
	</form>
</body>
</html>